name: build
on:
  workflow_dispatch:
    inputs:
      version:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: |
          git submodule update --init --recursive --remote
          git -C third_party/tensorflow checkout c358df9
          bazel build //tflite/java:tensorflowlitelib_stable
          chmod +w bazel-bin/tflite/java/libtensorflowlite*
          sudo add-apt-repository universe
          sudo apt-get install execstack
          execstack -c bazel-bin/tflite/java/libtensorflowlite_jni_stable.so
          zip -0uj bazel-bin/tflite/java/libtensorflowlitelib_stable.jar bazel-bin/tflite/java/libtensorflowlite_jni_stable.so
          ls -l bazel-bin/tflite/java/libtensorflowlitelib_stable.jar
